header{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.navbar-light .navbar-nav .nav-link{
    color:white;
    position: relative;
    padding: 0;
}
.navbar-light .navbar-nav .nav-item{
    padding: 0 12px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:white;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: #008ed6;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 46%;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: #008ed6;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 46%;
}
header h5{
    color: #008ed6;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
header h1{
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;

}
header p{
    color: #999999;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
canvas{
    position: absolute;
    top: 0;
}
#particles-js{
    position: relative;
}
.btn-download{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    letter-spacing: 1px;
    border:1px solid #999999;
    transition: .4s all ease-in-out;
    z-index: 999;

}
.btn-features{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    letter-spacing: 1px;
    border:1px solid #999999;
    margin-left: 20px;
    transition: .4s all ease-in-out;
    z-index: 999;
}
.btn-features:hover{
    background: #008ed6;
    color: #ffffff;
    border:1px solid #999999;
}
.btn-download:hover{
    background: #008ed6;
    color: #ffffff;
    border:1px solid #999999;
}

.hg{
    height: 91vh;
    align-items: center;
}

.phone{
    position: absolute;
    bottom: 0;
    right: 8%;
}

.features-section h5{
    color: #008ed6;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px 0;
}

.features-section h1{
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin: 30px 0;
}
.features-section span{
    display: inline-block;
    height: 3px;
    width: 70px;
    position: relative;

}
.features-section span::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out;

}
.features-section span::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out;
} 
.features-section:hover span::after{
    width: 45%;
}
.features-section:hover span::before{
    width: 45%;
}
.features-icon{
    height: 70px;
    width: 70px;
    border: 1px solid #bdbdbd;
    color: #008ed6;
    border-radius: 50px;
    line-height: 70px;
    font-size: 24px;
    margin: auto;

}
.feature{

}
.feature h3{
    color: #1a1a1a;
    font-size: 24px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
}
.feature p{
    color: #999999;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    
}
.beautifull{
    margin: auto;
}
.beautifull h5{
    color: #008ed6;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.beautifull h1{
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.beautifull p{
    color: #999999;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;

}
.beautifull-on span{
    display: inline-block;
    height: 3px;
    width: 70px;
    position: relative;
}
.beautifull-on span::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out;

}
.beautifull-on span::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out;
} 
.beautifull-on:hover span::after{
    width: 45%;
}
.beautifull-on:hover span::before{
    width: 45%;
}
.super-easy{
    background: #f2f2f2;
}
.super{
    margin: auto;
}
.super h5{
    color: #008ed6;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.super h1{
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.super p{
    color: #999999;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;

}
.super-easy span{
    display: inline-block;
    height: 3px;
    width: 70px;
    position: relative;
}
.super-easy span::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out;

}
.super-easy span::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out;
} 
.super-easy:hover span::after{
    width: 45%;
}
.super-easy:hover span::before{
    width: 45%;
}
.text-with-icon i{
    color: #44ace1;
    font-size: 18px;
    margin-top: 15px;
    height: 20px;
    width: 40px;
}
.text-with-icon h3{
    color: #1b1b1b;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    

}
.testimonial{
    background-image: url(../images/lbanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.quality{

}
.quality h5{
    color: #008ed6;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px 0;
}

.quality h1{
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin: 30px 0;
}
.testimonial span{
    display: inline-block;
    height: 3px;
    width: 70px;
    position: relative;
}
.testimonial .span-1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out
}
.testimonial .span-1::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out;
} 
.testimonial:hover .span-1::after{
    width: 45%;
}
.testimonial:hover .span-1::before{
    width: 45%;
}

.testimonial P{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;

}
.client{
    width: 43%;
    display: flex; 
    justify-content: space-between;
    align-items: center;

}
.client-img{
    width: 40px;
    border-radius: 50px;
    overflow: hidden;
}
.client-des{

}
.client-des h2{
    font-size: 18px ;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}
.client-des h6{
    font-size: 18px ;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    
}
.owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    display:inline-block;
    background:#ffffff ;
    border-radius: 50px;
    margin-right: 10px;
}
.owl-dots .active span{
    width: 15px;
    height: 15px;
}
.owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.like-what{
    background: black;
}
.like h3{
    color: #ffffff;
    font-size: 30px;
    padding: 25px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.button{
    padding:25px 0 ;
    margin-right: 0px;
}
.pricings{
    background: #ffffff;
}
.pricings-text h5{
    color: #008ed6;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0;
}

.pricings-text h1{
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin: 20px 0;
}
.pricings span{
    display: inline-block;
    height: 3px;
    width: 70px;
    position: relative;
}
.pricings .span-1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out
}
.pricings .span-1::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out;
} 
.pricings:hover .span-1::after{
    width: 45%;
}
.pricings:hover .span-1::before{
    width: 45%;
}
.table .tr1 h3{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.table:hover .tr1 h3{
    color: #008ed6;
}
 
.table .tr2 h1{
    font-size: 40px;
    color: black;
    font-weight: 700;
    transition: 1s all ease-in-out;
    font-family: 'Open Sans', sans-serif;
}

.table:hover .tr2 h1{
    color: #ffffff;
}
.table:hover .tr p{
    color: #ffffff;
}
.table .tr2{
    background-color: transparent;
    transition: 1s all ease-in-out;
}
.table:hover .tr2{
    background-color: #008ed6;
}
.table .tr3 p{
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.btn-order-now:hover{
    background-color: #008ed6;
    color: #ffffff;
    border: 1px solid #008ed6;
}
.btn-order-now{
    font-weight: 700;
    border: 1px solid #999999;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    height: 35px;
}
.contact span{
    display: inline-block;
    height: 3px;
    width: 70px;
    position: relative;
}
.contact .span-1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out
}
.contact .span-1::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #008ed6;
    transition: .4s all ease-in-out;
} 
.contact:hover .span-1::after{
    width: 45%;
}
.contact:hover .span-1::before{
    width: 45%;
}
.col-md-4 i{
    font-size: 30px;
    color: #008ed6;
    margin-bottom: 20px;
}
.col-md-4 p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #999999;
}
.contact{
    background:#f2f2f2;
    position: relative;
    
}
.contact-form{
    background: black;
    padding: 50px;
    position: absolute;
     
}
form{
    
}

.form-control{
    background: transparent;
    border-radius: 3px;
}
form input[type="submit"]{
    background: transparent;
    padding: 0;
    margin: 0;
    background: #008ed6;
    padding: 7px 15px;
    border: none;
    float: right;
}
footer{
    background-color:black;
}
.footer-content{
    padding: 30px 0;
    margin: auto;
    overflow: hidden
}

.copyright h3{
    color: #999999;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

.footer-icon i{
    justify-content: space-between;
    font-size: 25px;
    color: #999999;
    width: 5%;
    
   
}
.footer-icon i:hover{
    color: #ffffff;
}

